html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* Setting font families & basic default styling  */
html {
    font-size: 62.5%;
}

body, button, p {
  font-family: 'Catamaran', sans-serif;
}

button {
  background-color: #1F2022;
  color: #F2A11C;
  font-size: 1.8rem;
  line-height: 29px;
  font-weight: bold;
  padding: 10px 30px;
  border: 0;
  text-transform: uppercase;
}

.read-button:hover, .read-button:focus {
  background-color: #444343;
}

h1, h2 {
  font-family: 'Pacifico', cursive;
}

h2 {
  margin: 0;
  font-size: 4.2rem;
}

p {
  font-size: 2rem;
}

img {
  width: 100%;
  display: block;
}

/* Wrapper class */
.wrapper {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

/* HEADER styles */

header {
  background-image: url('./biker-land-assets/image-1.jpg');
  background-size: cover;
  height: 100vh;
}

.menu-bar {
  text-align: center;
  margin: 0;
  padding-top: 20px;
}

.menu-bar li {
  display: inline-block;
}

.menu-bar a {
  display: inline-block;
  margin: 10px;
  text-decoration: none;
  color: white;
  font-size: 2rem;
}

.header-content {
  position: relative;
  min-height: 90vh;
}

h1 {
  font-size: 13rem;
  color: #F2A11C; 
  width: 100%;
  margin: 200px 0 0 0;
  text-align: center;
}

.social-icons {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  position: absolute;
  top:0;
  right:0;
}

.social-icons li {
  list-style: none;
  margin-bottom: 15px;
}

.social-icons a {
  margin: 10px;
  text-decoration: none;
  color: #F2A11C; 
}

/* MAIN Styles */
/* ABOUT US section */

.about-us-content {
  width: calc(50% - 60px);
  float: left;
  margin: 120px 60px 0 0;
}

.about-us-image {
  width: 50%;
  float: left;
}

.about-us-image .img2 {
  height: 500px;
  width: 100%;
  object-fit: cover;
}

/* OUR MISSION styles */
.our-mission-image {
  width: 50%;
  float: left;
}

.img7 {
  height: 500px;
  object-fit: cover;
}

.our-mission-content {
  width: calc(50% - 60px);
  float: left;
  margin: 120px 0 0 60px;
}

/* BIO SECTION styles */
.bio-section {
  background-color: #F4F4F4;
  padding-bottom: 100px;
}

.img-container {
  width: 25%;
  float: left;
  margin-top: 120px;
}

.img6 {
  height: 230px;
  width: 250px;
  object-fit: cover;
}

.bio-content {
  width: 75%;
  float: left;
  margin: 120px 0 0 0;
}

/* PRODUCTS-SERVICES styles */
.products-services {
  background-image: url('./biker-land-assets/image-5.jpg');
  background-size: cover;
  position: relative;
  min-height: 80vh;
}

.product-icons {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 5rem;
  position: absolute;
  top: 45%;
  left: 36%;
}

.product-icons li {
  display: inline-block;
}

.product-icons a {
  margin: 0 100px 0 0;
  text-decoration: none;
  color: #FFFFFF; 
}

.product-content {
  text-align: center;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 63%;
  left: 36%;
}

.product-content li {
  display: inline-block;
}

.product-content p {
  text-decoration: none;
  color: #F2A11C; 
}

.product-content > li:nth-child(1) > p:nth-child(1) {
  margin: 0 0 0 -5px;
}

.product-content > li:nth-child(2) > p:nth-child(1) {
  margin: 0 0 0 85px;
}

.product-content > li:nth-child(3) > p:nth-child(1) {
  margin: 0 0 0 80px;
}

/* GALLERY SECTION styles */
.gallery {
  padding: 100px 0;
}

.gallery > div:nth-child(1) > h2:nth-child(1) {
text-align: center;
}

.gallery-container {
  margin-top: 60px;
}

.img2, .img3, .img4 {
  float:left;
  height: 400px;
  width: calc((100%/3) - 27px);
  object-fit: cover;
}

.img2, .img3 {
  margin-right: 40px;
}

/* FOOTER SECTION styles  */
footer {
  padding-top: 40px;
  height: 50vh;
  background-color: #1F2022;
}

body > footer:nth-child(3) > div:nth-child(1) > nav:nth-child(1) > ul:nth-child(1) > li > a {
  text-transform: uppercase;
}

body > footer:nth-child(3) > div:nth-child(1) > nav:nth-child(1) {
  margin-bottom: 40px;
}

.contact-container {
  float:left;
  width: 50%;
}

.contact-container > h2:nth-child(1) {
  color: #F2A11C;
  font-size: 3rem;
}

.contact-container > p {
  color: #F4F4F4;
  font-size: 1.5rem;
}

.subscribe-container {
  float:left;
}

.subscribe-container > h2:nth-child(1) {
  color: #F2A11C;
  font-size: 3rem;
}

.subscribe-container > p {
  color: #F4F4F4;
  font-size: 1.5rem;
}

.form1 {
  width: 500px;
  height: 16vh;
}

#email {
  float: left;
  height: 20px;
  padding: 20px;
  width: 75%;
  font-size: 1.5rem;
}

.submit-button > button:nth-child(1) {
  width: 25%;
  float: left;
  padding: 6.5px;
  background-color: #F2A11C;
  margin-left: -1px;
  margin-bottom: 0;
  color: #000000ba;
}

/* COPYRIGHT SECTION styles */
.copyright-section {
  height: 10vh;
  background-color: #000000;
}

.copyright-section p {
  margin: 0;
  padding: 15px 0;
  color: #F4F4F4;
  text-align: center;
  font-size: 1.5rem;
}

.copyright-section a {
  color: #ff69b4;
}


